@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--background: #0a0a0a;
	--text-color: #00c950;
	--border-color: #767678;
	--tv-background: #18181a;
}

body {
	background: var(--background);
	font-family: "Geist Mono", monospace;
}

.main-container {
	display: flex;
	min-height: 100vh;
	background-color: var(--background);
	color: var(--text-color);
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.columns {
	display: flex;
	gap: 3rem;
	width: 100%;
	max-width: 72rem;
	align-items: flex-start;
}

.crt-tv {
	width: 100%;
	max-width: 700px;
	aspect-ratio: 1;
}

.screen-tv {
	position: relative;
	width: 100%;
	height: 100%;
	background: none repeat scroll 0 0 transparent;
	background-color: #080c08;
	overflow: hidden;
	/* make it a png? */
	cursor: crosshair;
	z-index: 10;
	border: 12px solid #27272a;
	border-radius: 2rem;
	box-shadow: inset 0 0 100px rgba(0, 0, 0, 1);
	font-size: 2rem;
}

.overlay-tv {
	position: absolute;
	inset: 0;
	pointer-events: none;
	z-index: 30;
	overflow: hidden;

	.scanlines-tv,
	.flicker-tv,
	.vignette-tv {
		position: absolute;
		inset: 0;
		pointer-events: none;
	}

	.scanlines-tv {
		background-image: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.15) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 118, 0.06));
		background-size: 100% 4px, 3px 100%;
	}

	.flicker-tv {
		background-color: rgba(255, 255, 255, 5%);
		opacity: 20%;
		animation: .15s infinite flicker;
	}

	.vignette-tv {
		box-shadow: inset 0 0 150px rgba(0, 0, 0, 80%);
	}
}

.image-tv {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.image-container {
	width: 100%;
	height: 100%;
	transition-property: all;
	transition-timing-function: ease;
	transition-duration: 1500ms;
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	filter: brightness(110%), contrast(125%), saturate(150%);
}

.video-tv {
	position: absolute;
	inset: 0;
	pointer-events: auto;
	z-index: 20;
}

.text-tv {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: #009c3e;
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.zoom-rect {
	position: absolute;
	border: 2px solid #00c950;
	box-shadow: 0 0 10px rgba(0, 201, 80, 50%), 0 20px 50px rgba(0, 0, 0, 0.5);
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	z-index: 40;
}

.zoom-text {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0.6rem;
	color: #00c950;
	background-color: rgba(0, 0, 0, 50%);
	padding-inline: 0.25rem;
}

.info-box {
	min-width: 320px;
	padding: 1rem 2rem;
	margin: 1rem;
	flex: 1;
	background-color: rgba(24, 24, 26, 50%);
	border: 4px solid #009c3e;
	border-radius: 8px;
	box-shadow: 0 0 30px rgba(0, 255, 0, 10%);
	animation: textShadow 1.6s infinite;

	&>*+* {
		margin-block: 1.6rem;
	}
}

.title {
	font-size: 2.25rem;
	font-weight: bold;
}

.subtitle {
	font-size: 0.9rem;
	letter-spacing: 0.1rem;
}

.info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.3rem;
	padding-top: 1.5rem;
	border-top: 1px solid #009c3e;
	font-size: 0.8rem;
}

.darker-text {
	color: #006b2b;
}

.buttons {
	padding-top: 1rem;

	&>*+* {
		margin-top: 1rem;
	}

	.reset-button,
	.import-button {
		width: 100%;
		padding-block: 1rem;
		text-align: center;
		cursor: pointer;
		letter-spacing: 0.1rem;
		font-size: 0.9rem;
		font-weight: bold;
		transition-property: background-color;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;

	}

	.import-button {
		background-color: rgba(1, 117, 47, 20%);
		border: 2px solid rgb(1, 117, 47);
		box-shadow: 0 0 15px rgba(0, 255, 0, 10%);

		&:hover {
			background-color: rgba(1, 117, 47, 40%);
		}
	}

	.reset-button {
		background-color: rgba(255, 0, 0, 20%);
		border: 2px solid rgb(255, 30, 30);
		color: rgb(255, 30, 30);
		box-shadow: 0 0 15px rgba(255, 0, 0, 10%);

		&:hover {
			background-color: rgba(255, 0, 0, 40%);
		}
	}
}


.instructions {
	padding: 1rem;
	background-color: rgba(39, 39, 42, 50%);
	font-size: 0.8rem;
	border: 1px solid rgb(1, 117, 47);
	color: #009c3e;
	text-transform: uppercase;
	line-height: 1.2rem;

	.instructions-title {
		color: #00c950;
		margin-bottom: 0.3rem;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;
	opacity: 50%;
	padding-top: 1rem;

	.line {
		height: 3px;
		background-color: rgba(0, 107, 43, 30%);
		overflow: hidden;
	}

	.pulse {
		height: 100%;
		background-color: #00c950;
		animation: pulse 2s infinite;
	}
}

.block {
	display: block;
}

.hidden {
	display: none;
}

@keyframes bounce {

	0%,
	100% {
		transform: translateY(-25%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}

	50% {
		transform: none;
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}

@keyframes pulse {
	50% {
		opacity: 0.5;
	}
}

@keyframes scan {
	from {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(400px);
	}
}

@keyframes flicker {
	0% {
		opacity: 0.27861;
	}

	5% {
		opacity: 0.34769;
	}

	10% {
		opacity: 0.23604;
	}

	15% {
		opacity: 0.90626;
	}

	20% {
		opacity: 0.18128;
	}

	25% {
		opacity: 0.83891;
	}

	30% {
		opacity: 0.65583;
	}

	35% {
		opacity: 0.67807;
	}

	40% {
		opacity: 0.26559;
	}

	45% {
		opacity: 0.84693;
	}

	50% {
		opacity: 0.96019;
	}

	55% {
		opacity: 0.08594;
	}

	60% {
		opacity: 0.20313;
	}

	65% {
		opacity: 0.71988;
	}

	70% {
		opacity: 0.53455;
	}

	75% {
		opacity: 0.37288;
	}

	80% {
		opacity: 0.71428;
	}

	85% {
		opacity: 0.70419;
	}

	90% {
		opacity: 0.7003;
	}

	95% {
		opacity: 0.36108;
	}

	100% {
		opacity: 0.24387;
	}
}

@keyframes textShadow {
	0% {
		text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5), -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	5% {
		text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5), -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	10% {
		text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5), -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	15% {
		text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5), -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	20% {
		text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5), -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	25% {
		text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5), -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	30% {
		text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5), -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	35% {
		text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5), -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	40% {
		text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5), -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	45% {
		text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5), -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	50% {
		text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5), -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	55% {
		text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5), -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	60% {
		text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5), -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	65% {
		text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5), -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	70% {
		text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5), -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	75% {
		text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5), -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	80% {
		text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5), -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	85% {
		text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5), -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	90% {
		text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5), -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	95% {
		text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5), -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}

	100% {
		text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5), -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
}

@media screen and (max-width: 64rem) {
	.columns {
		flex-direction: column;
		align-items: center;
	}

	.crt-tv {
		width: 100%;
	}
}